/*********/
/*General*/
/*********/
html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

/********/
/*Header*/
/********/
#header .mdl-layout-title {
    /*TODO: Remove this if it's fixed in MDL*/
    padding-left: 11px;
}

#header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

/********/
/*Drawer*/
/********/
#drawer {
    border: none;
}

#logo {
    width: auto;
    max-width: 100%;
    height: 100px;
    margin: 10px auto;
    display: block;
}

.drawer-email {
    text-align: center;
}

.drawer-email p {
    margin: 0;
}

/************/
/*Navigation*/
/************/
#navigation {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

#navigation .mdl-navigation__link {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF;
    font-weight: 500;
}

#navigation .mdl-navigation__link:hover {
    background-color: rgb(68,138,255);
    color: #FFF;
}

#navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

/*********/
/*Content*/
/*********/
#contentWrapper {
    max-width: 1080px;
    padding-bottom: 75px;
}

/********/
/*Footer*/
/********/
#footer {
    display: inline-block;
    text-align: center;
    margin: 5px 0;
}

#footer p {
    margin: 0;
}

/******/
/*Grid*/
/******/
.mdl-grid.mdl-grid--center {
    justify-content: center;
}

/********/
/*Errors*/
/********/
.error-list {
    width: 100%;
    color: red;
}

/*******/
/*Cards*/
/*******/
.content-card {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.card-menu-button {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 99;
}

/************************/
/*Floating Action Button*/
/************************/
.fab {
    position: fixed;
    bottom: 17px;
    right: 17px;
    z-index: 100;
}

/*********/
/*Spinner*/
/*********/
.spinner {
    margin: 50px 0;
    left: calc(50% - 14px);
    width: 28px;
    height: 28px;
}

/********/
/*Tables*/
/********/
/*Tables*/
/*Wrapper for responsive tables*/
/*TODO: Better responsive design for tables*/
.table-wrapper {
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
}

.mdl-data-table th:first-of-type {
    text-align: left;
}

/*********/
/*Buttons*/
/*********/
#deleteCardsButton {
    transition: all 0.5s;
}

#deleteCardsButton.hide {
    bottom: -75px;
}

/******/
/*Menu*/
/******/
.mdl-menu__item {
    padding: 0 !important;
}

.mdl-menu__item a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
    /*Fix for link size in menu*/
    display: block;
    text-indent: 16px;
}

/*TODO: Optimize this CSS*/
/************/
/*Flip Cards*/
/************/
.flipContainer {
    perspective: 1000px;
    -webkit-perspective: 1000px;
    position: relative;
    width: 100%;
}

.flipCard {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    min-height: 0;
}

.flipCard .frontside, .flipCard .backside {
    width: 100%;
}

.flipCard .frontside {
    display: inline-block;
    z-index: 10;
}

.flipCard .backside {
    transform: rotateX(180deg);
    display: none;
    z-index: 9;
}

/*Flipped state*/
.flipCard.flipped {
    transform: rotateX(180deg);
}

.flipCard.flipped .frontside {
    display: none;
    z-index: 9;
}

.flipCard.flipped .backside {
    display: inline-block;
    z-index: 10;
}

.flipCard .mdl-card__supporting-text {
    font-size: 30px;
}

/*TODO: Better shadow handling*/
.flipCard.flipped.mdl-shadow--2dp {
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}